pom.xml
*jar
**/classes/
**/out/
**/dist/
**/target/
.lein*
**/node_modules
.serverless
**/.shadow-cljs/
.dir-locals.el
*.log
.nrepl-port
**/.lumo[-_]cache/
*.env
.nrepl-history
.projectile
**/.cpcache
**/cljs-runtime
**/.cljs*
**/*.iml
**/.idea
